<h2><%=@space.title%></h2>
<div>
    <p>
        <br><br><%=@space.description%>
        <br><br><%=@space.price_per_night%>
        <br><br><%=@space.available_from_date%>
        <br><br><%=@space.available_to_date%>
    </p>
</div>