<nav>
    <ul>
        <li><a href="/account_page"> Account </a></li>
        <li><a href=""> Requests</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</nav>

<h2><%=@space.title%></h2>
<h3>Owner: <%=@user.name%></h3>
<div>
    <p>
        <br><br><%=@space.description%>
        <br><br>Price: <%=@space.price_per_night%>
        <br><br>Available from: <%=@space.available_from_date%>
        <br><br>Until: <%=@space.available_to_date%>
    </p>
</div>
<h2>Request this space</h2>
<form method= "POST" action= "/new_request/<%=@space.id%>">
<label>DATES</label>

<br> <label>Check in</label>
<input type=date name="from_date" />
<label>Check out</label>
<input type=date name="to_date" />
<input type= "submit" name= "request" />
<input type="hidden" name="space_id" value="<%=@space.id%>" />
<input type="hidden" name="confirmed" value="FALSE" />
</form>